body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.header
{
    height: 10%;
    padding: 10px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header div
{
    display: flex;
}

#page_title
{
    text-decoration: none;
}
#page_title:visited
{
    text-decoration: none;
    color: black;
}

.login-container
{
    display: flex;
}
.login
{
    display: flex;
    height: 32px;
    width: 158px;
    margin-left: auto;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    flex-shrink: 0;
    cursor: pointer;
}
.login:hover
{
    border-color: white;
}